/**root and body styling*/

:root {
  --dark-blue: #000f22;
  --light-gray: #adadadef;
  --light-blue: #008cff;
  --white-wolf: #ffffff;
  --black: #000000;
  --blue-dark: #00000;
  --font-primary: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--light-blue);
  background-color: var(--light-gray);
}

/*link style*/
a {
  text-decoration: none;
  color: var(--black);
}

/**hero**/
.hero {
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(https://i.pinimg.com/originals/0d/af/b7/0dafb7928a99a9cb552a941895a6e586.jpg);
  background-size: cover;
  background-position: center;
}

.hero h2 {
  font-family: var(--font-primary);
  background: var(--light-blue);
  color: var(--white-wolf);
  font-size: 70px;
  margin-bottom: 20px;
  border-radius: 20px 0 0 20px;
  position: right;
}
/*header style*/
header {
  padding: 35px 35px 20px 0px;
  background: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-statick;
  position: static;
  top: 0;
  border-bottom: 40x solid var(--white-wolf);
  z-index: 999;
}

header h1 {
  color: var(--white-wolf);
  background: var(--light-blue);
  font-size: 40px;
  padding: 5px 15px;
  font-family: var(--font-primary);
  border-radius: 0 20px 20px 0;
}

header nav {
  margin: 15px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  margin: 0 5px;
}

header nav ul li a {
  font-size: 20px;
  color: var(--white-wolf);
  padding: 5px 15px;
  font-family: var(--font-primary);
  border-bottom: 2px ridge var(--light-blue);
  border-radius: 10px;
}

header bar-nav ul li a:hover {
  background: var(--light-blue);
  border-radius: 10px;
  transition: 0.1s;
}
/*all styling*/
.all {
  display: flex;
  flex-direction: row;
}

/**about styling*/
.about-container {
  width: 30vw;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  color: var(--blue-dark);
}

.about-container h2 {
  margin-right: 10px;
}

.para {
  font-size: 25px;
  color: var(--black);
  display: inline;
  padding-left: 30px;
  margin-top: 10px;
  margin-top: 50px;
  text-emphasis-color: b;
  border-left: 5px solid var(--light-blue);
}


/** work styling*/

main {
    width: 91%;
    margin: 4rem auto;
    border-left: 5px solid var(--light-blue);
  }
  

.work-container {
  width: 19vw;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  color: var(--light-blue);
}

.work-container h2 {
  margin-right: 99px;
  width: 50px;
}
.box {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: var(--light-blue);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.work-container.box a {
  background: var(--dark-blue);
}
.descriton {
  background: var(--dark-blue);
  color: var(--white-wolf);
}

.colume {
  width: 90vw;
  flex: 1 0 100%;
  padding: 1rem;
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

/**contact styling**/

