:root {
 --dark-blue: #000f22;
 --light-gray:#adadadef;
 --light-blue:#008cff;
 --white-wolf:#ffffff;
 --black:#000000;
 --font-primary: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 1.75rem;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--light-gray);
   
    }
    
    html{ 
      scroll-behavior: smooth;
    }
/*link style*/
a {
 text-decoration: none;
 color: var(--black)
}

/**hero**/
.hero {
height: 200px;
display: flex;
justify-content: flex-end;
align-items: flex-end;
width: 100%;
margin-bottom: 25px;
background-image: url(https://i.pinimg.com/originals/0d/af/b7/0dafb7928a99a9cb552a941895a6e586.jpg);
background-size: cover;
background-position: center;
}

.hero h2 {

font-family: var(--font-primary);
background: var(--dark-blue);
color: var(--white-wolf);
font-size: 70px;
margin-bottom: 20px;
border-radius: 20px 0 0 20px;
position: right;
}
/*header style*/
header {
padding:35px 35px 20px 0px;
background:var(--dark-blue);
display: flex;
justify-content: space-between;
flex-wrap: wrap;
position: -webkit-sticky;
position: sticky;
top: 0;
border-bottom: 40x solid var(--white-wolf);
z-index: 999;
}

header h1 {

color: var(--white-wolf);
background: var(--light-blue);
font-size: 40px;
padding: 5px 15px;
font-family: var(--font-primary);
border-radius: 0 20px 20px 0;
}

header nav {

margin: 15px;
}

header nav ul {
         
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 5px;


}

header nav ul li a {

font-size: 20px;
color: var(--light-blue);
padding: 5px 15px;
font-family: var(--font-primary);
border-bottom: 2px solid var(--light-blue);
border-radius: 10px;

}

header nav ul li a:hover{

 background: var(--white-wolf);
 border-radius: 10px;
 transition: 0.10s;

}

/**main section stlyling*/

.container { 
    width: auto;
    margin: 0 auto;
    padding: 40px 0;
    display:flex;
}

.container-tittle {
    font-size: 25px;
    font-weight: bold;
    padding-right: 20px;
    font-family: var(--font-primary);
    border-radius: 15px;
    margin-right: 10px;
    text-align: right;
   }

   .about-container{
         width: auto;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
        }

    .about-container p {
     width: auto;
     margin-left: 10px;
     font-size: 18px;
     line-height: 1.5;
     font-family: var(--font-primary);
}

/** work styling*/
