@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); 

* 
{ 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

section{ 
  padding: 100px;
}


.banner { 

  position: relative;
  min-height: 100vh;
  background: url(lightbulb.jpg);
  background-size: cover;
  background-position: right;
  justify-content: space-between;
  align-items: center;
}

.banner h2 { 

  font-size: 3em;
  color: #FFF; 
  font-weight: 500;
  line-height: 1.5em;
}

.banner h3 { 
 font-size: 1.5em;
 color: #FFF;
 font-weight: 500;

}

.btn { 

  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #FFF;
  margin-top: 20px;
  padding: 10px 30px;
  font-size:18px; 
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;

}


header { 

  position :fixed; 
  top: 0; 
  left: 0;

  width: 100%; 
  padding: 0px 10px;
  z-index: 1000;
  display: flex; 
  justify-content: space-around;
  align-items: center;
}

header .logo {
  color: #FFF; 
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight:700;
  letter-spacing: 2px;
}


header ul { 

position: relative;
display: flex;
}


header ul li { 

position: relative;
list-style: none;
}

header ul li a { 

position: relative; 
display: inline-block;
margin: 0 15px;
color: #FFF;
text-decoration: none;




}