body {   
  background: rgba(226, 226, 226, 0.267) ;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;

 }
 
 header {
  background-color:black;
 padding: 25px;
 height: 100px;
 background-image: url(https://image.freepik.com/free-psd/blank-notebook-set-colorful-pencils-wooden-table-paper-background-mock-up-banner-view-from_74580-2368.jpg) ;
 background-size: 100%;

 }
 
 header a {
 color:rgb(0, 0, 0);
 text-decoration:none;
 text-transform: uppercase;
 margin-top: 40px;


 }

 header h1 {

  color: black;
 }

 li:first {background:black;}

 section {
     background: white;
     color: white;
     padding: 20px;
     display: flex;
     flex-direction: row;
 }
 
 
 section div {
 
 width: 100%;
 margin:1px;
 
 }
 

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;

}


.container .box {

  position: relative;
  width: 340px;
  padding: 40px;
  background: lightblue;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  border-radius: 4px;

}
 

 
 footer {
 
 background: black;
 padding: 20px;
 
 }
 
 ul {
 
 margin: 0;
 padding: 0;
 list-style-type: none;
 }
 
 li {
  display: inline-block;
     margin-left: 20px;
     border-radius: 3px;
     padding: 2px;
 }
 
 li :hover {
 
 background-color: lightslategray;
 
 }
 li:first-child {
 
   margin-left: 0;
 
 }
 
 a {
 
   text-decoration: none;
 
 
 }
 
 
 a:hover {
 
 text-decoration: underline
 
 }